<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('合同信息表列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>客户名称：</label>
                                <input type="text" name="customerName"/>
                            </li>
                            <li>
                                <label>电话：</label>
                                <input type="text" name="customerPhone"/>
                            </li>
                            <li>
                                <label>预产期：</label>
                                <input type="text" class="time-input" placeholder="请选择预产期" name="expectedData"/>
                            </li>
                            <li>
                                <label>服务日期：</label>
                                <input type="text" class="time-input" placeholder="请选择服务日期" name="damandData"/>
                            </li>
                            <li>
                                <label>服务内容：</label>
                                <input type="text" name="Damand"/>
                            </li>
                            <li>
                                <label>等级：</label>
                                <input type="text" name="customerLevel"/>
                            </li>
                            <li>
                                <label>育婴师顾问：</label>
                                <input type="text" name="countermanName"/>
                            </li>
                            <li>
                                <label>育婴师：</label>
                                <input type="text" name="nurseryName"/>
                            </li>
                            <li>
                                <label>合同金额：</label>
                                <input type="text" name="contractAmount"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:contractinformation:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:contractinformation:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:contractinformation:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:contractinformation:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:contractinformation:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:contractinformation:remove')}]];
        var prefix = ctx + "system/contractinformation";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "合同信息表",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'customerName',
                    title: '客户名称'
                },
                {
                    field: 'customerPhone',
                    title: '电话'
                },
                {
                    field: 'expectedData',
                    title: '预产期'
                },
                {
                    field: 'damandData',
                    title: '服务日期'
                },
                {
                    field: 'Damand',
                    title: '服务内容'
                },
                {
                    field: 'customerLevel',
                    title: '等级'
                },
                {
                    field: 'countermanName',
                    title: '育婴师顾问'
                },
                {
                    field: 'nurseryName',
                    title: '育婴师'
                },
                {
                    field: 'contractAmount',
                    title: '合同金额'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.customerName + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.customerName + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>