<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CustomerreturnvisitrecordMapper">
    
    <resultMap type="Customerreturnvisitrecord" id="CustomerreturnvisitrecordResult">
        <result property="id"    column="id"    />
        <result property="Contact"    column="Contact"    />
        <result property="VisitDate"    column="VisitDate"    />
        <result property="Content"    column="Content"    />
    </resultMap>

    <sql id="selectCustomerreturnvisitrecordVo">
        select id, Contact, VisitDate, Content from customerreturnvisitrecord
    </sql>

    <select id="selectCustomerreturnvisitrecordList" parameterType="Customerreturnvisitrecord" resultMap="CustomerreturnvisitrecordResult">
        <include refid="selectCustomerreturnvisitrecordVo"/>
        <where>  
            <if test="Contact != null  and Contact != ''"> and Contact = #{Contact}</if>
            <if test="VisitDate != null "> and VisitDate = #{VisitDate}</if>
            <if test="Content != null  and Content != ''"> and Content = #{Content}</if>
        </where>
    </select>
    
    <select id="selectCustomerreturnvisitrecordById" parameterType="Integer" resultMap="CustomerreturnvisitrecordResult">
        <include refid="selectCustomerreturnvisitrecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCustomerreturnvisitrecord" parameterType="Customerreturnvisitrecord">
        insert into customerreturnvisitrecord
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="Contact != null">Contact,</if>
            <if test="VisitDate != null">VisitDate,</if>
            <if test="Content != null">Content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="Contact != null">#{Contact},</if>
            <if test="VisitDate != null">#{VisitDate},</if>
            <if test="Content != null">#{Content},</if>
         </trim>
    </insert>

    <update id="updateCustomerreturnvisitrecord" parameterType="Customerreturnvisitrecord">
        update customerreturnvisitrecord
        <trim prefix="SET" suffixOverrides=",">
            <if test="Contact != null">Contact = #{Contact},</if>
            <if test="VisitDate != null">VisitDate = #{VisitDate},</if>
            <if test="Content != null">Content = #{Content},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCustomerreturnvisitrecordById" parameterType="Integer">
        delete from customerreturnvisitrecord where id = #{id}
    </delete>

    <delete id="deleteCustomerreturnvisitrecordByIds" parameterType="String">
        delete from customerreturnvisitrecord where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>