<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FollowupMapper">
    
    <resultMap type="Followup" id="FollowupResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="address"    column="address"    />
        <result property="CustomerRequire"    column="CustomerRequire"    />
        <result property="time"    column="time"    />
        <result property="schedule"    column="schedule"    />
        <result property="staff"    column="staff"    />
    </resultMap>

    <sql id="selectFollowupVo">
        select id, name, phone, address, CustomerRequire, time, schedule, staff from followup
    </sql>

    <select id="selectFollowupList" parameterType="Followup" resultMap="FollowupResult">
        <include refid="selectFollowupVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="CustomerRequire != null  and CustomerRequire != ''"> and CustomerRequire = #{CustomerRequire}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="schedule != null  and schedule != ''"> and schedule = #{schedule}</if>
            <if test="staff != null  and staff != ''"> and staff = #{staff}</if>
        </where>
    </select>
    
    <select id="selectFollowupById" parameterType="Integer" resultMap="FollowupResult">
        <include refid="selectFollowupVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFollowup" parameterType="Followup">
        insert into followup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="address != null">address,</if>
            <if test="CustomerRequire != null">CustomerRequire,</if>
            <if test="time != null">time,</if>
            <if test="schedule != null">schedule,</if>
            <if test="staff != null">staff,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="address != null">#{address},</if>
            <if test="CustomerRequire != null">#{CustomerRequire},</if>
            <if test="time != null">#{time},</if>
            <if test="schedule != null">#{schedule},</if>
            <if test="staff != null">#{staff},</if>
         </trim>
    </insert>

    <update id="updateFollowup" parameterType="Followup">
        update followup
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="CustomerRequire != null">CustomerRequire = #{CustomerRequire},</if>
            <if test="time != null">time = #{time},</if>
            <if test="schedule != null">schedule = #{schedule},</if>
            <if test="staff != null">staff = #{staff},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFollowupById" parameterType="Integer">
        delete from followup where id = #{id}
    </delete>

    <delete id="deleteFollowupByIds" parameterType="String">
        delete from followup where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>